h1 {
  color: #fff;
}

body {
  background-color: black;
}

input {
  padding: 10px;
  border: 1px solid gray;
}

button {
  padding: 7px;
  border: 1px solid gray;
  color: #fff;
  background-color: red;
}
